@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-eco-bg text-eco-text antialiased font-sans selection:bg-eco-cyan selection:text-eco-bg;
  }
}

/* Custom sleek scrollbar styling */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #0B131E;
}

::-webkit-scrollbar-thumb {
  background: #1E2D40;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #06B6D4;
}
